# Sphinx documentation
docs/build/
docs/source/_*

# Miscellaneous files
**/.DS_Store
*.pyc
*.ipynb
*.db
.env
*.session
service_account.json
.vscode/
*.log

# Unit test / coverage reports
reports
.coverage*
.cache
.pytest_cache/
cover/
