# Sphinx documentation
docs/build/
docs/source/_*

# Miscellaneous files
**/.DS_Store
*.pyc
*.ipynb
*.db
.env
*.session
*.session-journal
service_account.json
.vscode/
*.log
*.lock
logs/*

# Unit test / coverage reports
reports
.coverage*
.cache
.pytest_cache/
cover/
