[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
SQLAlchemy = "*"
loguru = "*"
gogettr = "*"
requests = "*"
bs4 = "*"
dateparser = "*"
boto3 = "*"
ffmpeg-python = "*"
yt-dlp = "*"
Telethon = "*"
pytesseract = "*"
instaloader = "*"
gspread = "*"
cryptg = "*"
psycopg2 = "*"
tqdm = "*"
ratelimit = "*"
pytz = "*"
langdetect = "*"
spacy = "==3.2.4"
ocrd-pyexiftool = "*"
gabber = {git = "https://github.com/stanfordio/gabber.git"}
snscrape = {git = "https://github.com/bellingcat/snscrape"}
polyphemus = {git = "https://github.com/bellingcat/polyphemus"}

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-html = "*"
pytest-metadata = "*"
black = "*"
Sphinx = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
